<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947911277694-0kjlkickhnbqj07j0oau2soakplt1613.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947911277694-0kjlkickhnbqj07j0oau2soakplt1613</string>
	<key>API_KEY</key>
	<string>AIzaSyAKm1oGMrnbHsaejOU9r3lqSu63wunFhHs</string>
	<key>GCM_SENDER_ID</key>
	<string>947911277694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-b08b5</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-b08b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947911277694:ios:b044a18a3d48eb0095ec2f</string>
</dict>
</plist>